*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}

header h1{
    background-image: url(./image/masimo-grabar-NzHRSLhc6Cs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: floralwhite;
    width: 100%;
    height: 80vh;
    font-size: 75px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    }
section{
    background-color: black;
}
.all_cards{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    position: relative;
    top: -100px;
}
.card_image{
    width: 100%;
    height: 250px;
}
img{
    width: 100%;
    height: 100%;
}
.card{
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
}
.card_text h4{
    color: black;
    margin: 20px 0 0 0;
}
.card_text p{
    color: red;
    margin: 20px 0 20px 0;
}
.card_text{
    text-align: center;
}
.image_text{
    color: floralwhite;
    text-align: center;
    /* padding: 20px; */
    font-size: 20px;
    margin: -100px 0 0 0;
    padding: 40px 0;
}
.image_text a{
    color: floralwhite;
}
.footer{
    width: 100%;
    padding: 100px 15%;
    background: black;
    color: rgb(216, 231, 0);
    display: flex;
    justify-content: space-between;

}
.footer div{
        text-align: center;
}
.col_1 a{
    display: block;
    text-decoration: none;
    color: rgb(216, 231, 0);
    margin-bottom: 10px;
}
.footer div h3{
    font-weight: 2em;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
form input{
    width: 400px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}
form button{
    background: transparent;
    border: 2px solid rgb(216, 231, 0);
    color: rgb(216, 231, 0);
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
}
.social_icon{
    display: flex;
    margin-top: 30px;
}
.icons{
    margin: 15px;
    cursor: pointer;
    font-size: 20px;
}